<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Splashy PiPlant</title>
    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #228C22;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

        .alert {
            padding: 20px;
            margin: 5px;
            color: #970020;
            background-color: #ffd5de;
        }

    </style>
</head>
<body>
    <nav>
        <h1>SPLASHY PIPLANT</h1>
        <a href="{{ url_for('index') }}">Plant Log</a>
        <a href="{{ url_for('create') }}">Add Plant</a>
        <!--<a href="#">Splashy PiPlant</a>-->
        <!DOCTYPE html> <html> 
            <head> 
                <title>HTML img Tag</title> 
            </head> 
            <body> 
                <img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" alt="Simply Easy Learning" width="200" height="80"> 
            </body> 
            </html>
    </nav>
    <hr>
    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>
</body>
</html>