{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Plant {% endblock %}</h1>

    <!-- Numerical input for plant watering frequency -->
    <form action="{{ url_for('create') }}" method="POST">
        <label for="title">Plant Name:</label>
        <input type="text" name="title"
            placeholder="Message title"
            value="{{ request.form['title'] }}"></input>        
            <br>

        <label for="water_frequency">Water Frequency (every ___ amount of hours):</label>
        <input type="number" name="water_frequency" id="water_frequency">
        <br>

        <label for="water_amount">Water Amount (in milliliters):</label>
        <input type="number" name="water_amount" id="water_amount" min="0" max="250" step="25"> 
        <br>

        <label for="water_notes">Water Notes:</label>
        <input type="text" name="water_notes" id="water_notes">
        <br>

        <input type="submit" value="Add Plant">
        <br>
        <br>
    </form>
    
{% endblock %}

